{{#if button}}
    <button
        class='{{styles.button}} {{#if block}} {{block}} {{/if}} {{className}}'
        page={{page}}
        type={{type}}
    >{{title}}</button>
{{/if}}
{{#if link}}
    <a class='{{styles.link}} {{className}}' page={{page}} role='button'>{{title}}</a>
{{/if}}
