<div class={{styles.chat-info}}>
    <div class={{styles.avatar}}>{{> IconView url=avatar styles=@root.styles }}</div>
    <div class={{styles.name}}>{{title}}</div>
    <div class={{styles.time}}>{{time}}</div>
    <div class={{styles.last-message}}>{{content}}</div>
    <div class={{styles.indicator}}>
        {{> Badge count=unread_count }}
    </div>
</div>
