<fieldset class="{{styles.field}} {{className}}">
    <input
        type={{type}}
        {{#if placeholder}}placeholder={{placeholder}}{{/if}}
        name={{name}}
        id={{name}}
        autocomplete='off'
        {{#if value}}value={{value}}{{/if}}
        {{#if required}}required{{/if}}
    />
    <hr />
    <label>{{label}}</label>
</fieldset>
