<div class={{styles.profile-avatar}}>
    <label>
        <input type='file' />
        <figure class={{styles.profile-figure}}>
            <img src={{icons.ProfileAvatar}} class={{styles.profile-avatar}} alt='avatar' />
            <figcaption class={{styles.profile-figcaption}}></figcaption>
        </figure>
    </label>
    <p>{{first_name}}</p>
</div>
